[submodule "failsim/data/hllhc14"]
	path = failsim/data/hllhc14
	url = ssh://git@gitlab.cern.ch:7999/machine-protection/libs/hllhc14.git
[submodule "failsim/data/acc-models-lhc"]
	path = failsim/data/acc-models-lhc
	url = https://gitlab.cern.ch/acc-models/acc-models-lhc.git
[submodule "failsim/data/pymask"]
    path = failsim/data/pymask
    url = https://gitlab.cern.ch/machine-protection/libs/pymask.git
[submodule "failsim/data/hllhc15"]
	path = failsim/data/hllhc15
	url = https://github.com/lhcopt/hllhc15.git
