[submodule "failsim/data/hllhc14"]
	path = failsim/data/hllhc14
	url = https://github.com/lhcopt/hllhc14.git
[submodule "failsim/data/acc-models-lhc"]
	path = failsim/data/acc-models-lhc
	url = ../../../acc-models/acc-models-lhc.git
[submodule "failsim/data/lhcmask_failsim"]
	path = failsim/data/lhcmask_failsim
	url = ../pymask.git
